/* Styling for Navbar */
.navbar {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
  color: #0056b3 !important;
}

.nav-link {
  font-size: 1.1rem;
  color: #495057 !important;
  margin-left: 15px;
}

.nav-link:hover {
  color: #007bff !important;
}